node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
JSONFiles/state.json
JSONFiles/chromium.json
JSONFiles/firefox.json
JSONFiles/webkit.json
filestructure.txt
.env